.accept-wrapper {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, #7A86D8, #DFDFD2);
    font-family: 'Noto Sans KR', sans-serif;
  }
  
 
  
  .accept-message {
    font-size: 1.2vw;
    margin-bottom: 2vw;
    color: #555;
    line-height: 1.5;
  }
  
  .accept-error {
    color: red;
    font-size: 1.1vw;
    font-weight: 600;
    margin-top: 1vw;
  }
  
  .accept-btn {
    padding: 1vw 3vw;
    font-size: 1.2vw;
    font-weight: bold;
    border: none;
    border-radius: 0.8vw;
    background: linear-gradient(135deg, #D5D7E2 0%, #8A94DA 100%);
    color: white;
    cursor: pointer;
    box-shadow: 0 0.4vw 0.8vw rgba(0, 0, 0, 0.2);
    transition: 0.2s ease;
  }
  
  .accept-btn:hover {
    opacity: 0.9;
  }

  .welcome-popup {
    text-align: center;
    margin-top: 2vw;
    background-color: white;
    border-radius: 1.2vw;
    padding: 2vw;
    box-shadow: 0 0.4vw 1vw rgba(0, 0, 0, 0.1);
    font-size: 1.2vw;
  }
  
  .welcome-popup h3 {
    font-size: 1.6vw;
    margin-bottom: 1vw;
  }
  
  .welcome-popup .welcome-desc {
    margin-top: 1.5vw;
    padding: 1.5vw;
    background: #e0e0e0;
    border-radius: 1vw;
    font-size: 1.1vw;
    line-height: 1.6;
  }
  
  
  /* 반응형 */
  @media (max-width: 768px) {
    .accept-box {
      padding: 5vw 6vw;
    }
    .accept-title {
      font-size: 5vw;
    }
    .accept-message {
      font-size: 3.5vw;
    }
    .accept-error {
      font-size: 3.5vw;
    }
    .accept-btn {
      font-size: 3.5vw;
      padding: 2vw 5vw;
    }
  }
  